:root {
  --border-radius: 4px;
  --color-text: #dadadac7;
  --color-primary: #c3d0d6;
  --color-code-bg: #fff4db;
  --color-code: #282c34;
  /* #6094a2 */
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
}

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
}

body {
  background-color: var(--color-code);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;

}

a {
  background-color: transparent;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  text-decoration: none;

}

a:active,
a:hover {
  outline-width: 0;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}

.ivmet {
  margin-left: -2rem;
  padding-left: 2rem;
}

.list {
  padding-top: 10%;
  display: flexbox;
  max-width: none;
  width: 85rem;
  left: -15rem;
  position: relative;
}

header:nth-child(1)>div:nth-child(2)>a:nth-child(2) {
  padding-left: 30px;
}


header:nth-child(1)>div:nth-child(2)>a:nth-child(3) {
  padding-left: 30px;
}

.aboutImg {
  padding-right: 7rem;
}


.column1 {
  width: 100%;
  float: left;
  flex-direction: column;
}

.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.listItem {
  margin: 0;
  display: flex;
  flex-direction: row;
  padding-bottom: 10rem;

}

.listItem:nth-child(1) {
  margin: 0;
  display: flex;
  flex-direction: row;
  padding-right: 10rem;
  padding-left: 11rem;
}

.listItem:nth-child(2) {
  margin: 0;
  display: flex;
  flex-direction: row;
  padding-right: 7rem;
  padding-left: 7rem;
}

.listItem:nth-child(3) {
  margin: 0;
  display: flex;
  flex-direction: row;
  padding-right: 7rem;
  padding-left: 7rem;
}

.image1 {
  margin: 0 auto;
}



.projectText {
  padding-right: 2rem;
  max-width: 100%;
}


.images {
  display: flex;
  float: right;
  flex-flow: column;
  justify-content: space-between;
  margin: 10px;
}

.listItem::marker {
  color: #51ff00;
}

.listItem:nth-child(2)::marker {
  color: #51ff00;
}

.listItem:nth-child(3)::marker {
  color: #51ff00;
}

.listItem:nth-child(4)::marker {
  color: #51ff00;
}

.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
}

.listItemDescription {
  color: var(--color-text);
  margin-bottom: 0;
  margin-top: var(--space-1);

}



.listItemDescription {
  padding-right: 0rem;
}

.listItemDescription:nth-child(3) {
  padding-right: 3rem;
}


.heroSection {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
  padding-bottom: 3rem;
}

.heroImg {
  margin: 0 auto;
}

.heroText {
  font-size: large;
  max-width: 350px;
  padding-top: 15px;
}

.aboutText p {
  max-width: 23rem;
  margin: 0 auto;
  padding-top: 5rem;
  text-align: justify;
}



.textCenter {
  padding-top: 15rem;
  padding-bottom: 0rem;
  text-align: center;
}

.aboutText {
  padding-top: 10rem;
  text-align: center;
}

.aboutContent1 {
  padding-top: 7rem;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.aboutContent1 p {
  padding-top: 7rem;
  max-width: 23rem;
  text-align: start;
}

.aboutContent2 {
  padding-top: 10rem;
  
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 140%;
  right: 16%;
  position: relative;
}

.aboutContent2 p {
  padding-top: 7rem;
  max-width: 23rem;
  text-align: start;
}


.intro {
  max-width: none;
  line-height: var(--line-height-loose);
}

/* 

CONTACT

*/


.contactSection {
  display: flex;
  justify-content: center;
  padding-bottom: 10rem;
}


.contactSection form {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 333px;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, .2);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 13px 3px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 13px 3px rgba(0, 0, 0, .5);
  box-shadow: 0 0 13px 3px rgba(0, 0, 0, .5);
  overflow: hidden;
}

input {
  width: 276px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, .4);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: rgb(12, 11, 11);
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  background-color: #282c34;
}

.contactSection textarea {
  background-color: #282c34;
  border: 1px solid rgba(255, 255, 255, .4);
}

.message {
  background-color: #282c34;
}







/* 

  MOBILE

*/

@media screen and (max-width: 800px) {
  .heroSection {
    flex-direction: column-reverse;
    gap: .5rem;

  }

  .heroText {
    margin: 0 auto;
  }


  .aboutContent1 {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;

  }

  .aboutImg {
    padding-right: 0rem;
    margin-right: 2rem;
    margin-left: 2rem;
    max-width: 114%;
    margin: 0 auto;
  }

  .aboutContent2 {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 7rem;

  }

  .aboutContentImg2 {
    width: 95%;
  }

  .aboutContent1 p {
    padding-top: 7rem;
    max-width: 23rem;
    margin-left: 3%;
    margin-right: 3%;
    margin: 0 auto;
  }

  .aboutContent2 p {
    padding-top: 7rem;
    max-width: 100%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .listItem:nth-child(1) {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .listItem:nth-child(2) {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .listItem:nth-child(3) {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .image1 img {
    width: 100%;
    margin-left: -1rem;
  }
  

  .video {
    width: 108%;
    margin-left: -2rem;
  }

  .list {
    flex-direction: column;
    width: 100%;
    display: flex;
    max-width: 150%;
    
    left: -1.5rem;
  }

  .listItem {
    margin: 0;
    width: 100%;
    padding-right: 0rem;
    padding-bottom: 2rem;
  }

  .listItemDescription {
    padding-bottom: 3rem;
  }



  .projectText {
    max-width: 100%;
    padding-right: 0%;
  }



  .listItem {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
  }

  .images {
    width: 100%;
    padding-bottom: 2rem;
  }
}